In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
DATA_PATH = '/home/lucasrotsen/Git_Repos/streaming-platform-analysis/data/'

In [3]:
imdb = pd.read_csv(DATA_PATH + 'imdb/IMDB_movies.csv', sep=',')
streaming_movies = pd.read_csv(DATA_PATH + 'streaming_movies/MoviesOnStreamingPlatforms_updated.csv', sep=',')
the_oscar_awards = pd.read_csv(DATA_PATH + 'the_oscar_awards/the_oscar_award.csv', sep=',')

/home/lucasrotsen/Git_Repos/streaming-platform-analysis/.env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
list(imdb.columns)

['imdb_title_id',
 'title',
 'original_title',
 'year',
 'date_published',
 'genre',
 'duration',
 'country',
 'language',
 'director',
 'writer',
 'production_company',
 'actors',
 'description',
 'avg_vote',
 'votes',
 'budget',
 'usa_gross_income',
 'worlwide_gross_income',
 'metascore',
 'reviews_from_users',
 'reviews_from_critics']

In [5]:
list(streaming_movies)

['Unnamed: 0',
 'ID',
 'Title',
 'Year',
 'Age',
 'IMDb',
 'Rotten Tomatoes',
 'Netflix',
 'Hulu',
 'Prime Video',
 'Disney+',
 'Type',
 'Directors',
 'Genres',
 'Country',
 'Language',
 'Runtime']

In [6]:
list(the_oscar_awards)

['year_film',
 'year_ceremony',
 'ceremony',
 'category',
 'name',
 'film',
 'winner']

In [7]:
"""

TITLE, 
YEAR, 
HULU, 
NETFLIX, 
DISNEY_PLUS, 
PRIME_VIDEO, 
COUNTRY, 
GENRE, 
DURATION, 
OSCAR_INDICATED, 
WON_OSCAR, 
IMDB,
AGE_CLASSIFICATION,
LANGUAGE,
MOVIE_AGE

"""

'\n\nTITLE, \nYEAR, \nDIRECTOR, \nCATEGORY, \nHULU, \nNETFLIX, \nDISNEY_PLUS, \nPRIME_VIDEO, \nCOUNTRY, \nGENRE, \nDURATION, \nOSCAR_INDICATED, \nWON_OSCAR, \nIMDB,\nAGE,\nBUDGET\n\n'

In [8]:
streaming_movies.shape[0]

16744

In [30]:
the_oscar_awards.isna().sum()

year_film        0
year_ceremony    0
ceremony         0
category         0
name             0
film             0
winner           0
dtype: int64

In [29]:
the_oscar_awards.dropna(inplace=True)

In [10]:
streaming_movies[streaming_movies['Age'].isna()]

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
32,32,33,Train to Busan,2016,NaN,7.5,94%,1,0,1,0,0,Sang-ho Yeon,"Action,Horror,Thriller",South Korea,"Korean,Hawaiian",118.0
57,57,58,A Silent Voice,2016,NaN,8.2,94%,1,0,0,0,0,Naoko Yamada,"Animation,Drama,Family,Romance",Japan,"Japanese,Japanese Sign Language",130.0
89,89,90,The Dawn Wall,2018,NaN,8.1,100%,1,0,0,0,0,"Josh Lowell,Peter Mortimer","Documentary,Biography,Sport","Austria,United States",English,100.0
110,110,111,Black Mirror: Bandersnatch,2018,NaN,7.2,92%,1,0,0,0,0,David Slade,"Drama,Mystery,Sci-Fi,Thriller","United States,United Kingdom",English,90.0
123,123,124,Neon Genesis Evangelion: The End of Evangelion,1997,NaN,8.1,88%,1,0,0,0,0,"Hideaki Anno,Kazuya Tsurumaki","Animation,Action,Drama,Fantasy,Sci-Fi",Japan,Japanese,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16736,16736,16737,Winged Seduction: Birds of Paradise,2012,NaN,6.5,NaN,0,0,0,1,0,Molly Hermann,Documentary,United States,English,NaN
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [11]:
streaming_movies.drop(['Unnamed: 0'], axis=1, inplace=True)
streaming_movies.drop(['Rotten Tomatoes'], axis=1, inplace=True)

In [18]:
imdb['budget'].isna().sum()

62145

In [22]:
streaming_movies['Title'].head()

0                         Inception
1                        The Matrix
2            Avengers: Infinity War
3                Back to the Future
4    The Good, the Bad and the Ugly
Name: Title, dtype: object

In [23]:
imdb['title'].head()

0                     Miss Jerry
1    The Story of the Kelly Gang
2                 Den sorte drøm
3                      Cleopatra
4                      L'Inferno
Name: title, dtype: object

In [28]:
the_oscar_awards['film']

0               The Noose
1        The Last Command
2         A Ship Comes In
3              7th Heaven
4          Sadie Thompson
               ...
10390            Parasite
10391                 NaN
10392                 NaN
10393                 NaN
10394                 NaN
Name: film, Length: 10395, dtype: object